/* Mocha Mauve */
@define-color accent #cba6f7;
@define-color txt #cad3f5;
@define-color bg #24273a;
@define-color bg2 #494d64;

 * {
    font-family: 'JetBrains Mono Nerd Font', monospace;
    font-size: 13px;
 }

 /* Window */
 window {
    margin: 0px;
    padding: 10px;
    background-color: @bg;
 }


 /* Inner Box */
 #inner-box {
    border: none;
    background-color: @bg;
 }

 /* Outer Box */
 #outer-box {
    border: none;
    background-color: @bg;
 }

 /* Scroll */
 #scroll {
    margin: 0px;
    padding: 10px;
    border: none;
 }

 /* Input */
 #input {
    margin: 10px 10px 0 10px;
    padding: 6px 10px;
    border: none;
    color: @accent;
    background-color: @bg2;
 }

 /* Text */
 #text {
    margin: 5px;
    padding: 10px;
    border: none;
    color: @txt;
 }

 #entry {
padding: 0 10px;	
margin: 0;	
 }

 /* Selected Entry */
 #entry:selected {
   background-color: @accent;
 }

 #entry:selected #text {
    color: @bg2;
 }
